@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,500&display=swap');

$colors: (
    mainColor: #005DFF,
    accentColor: #fff
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
}

.showcase {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mainColor;
    color: #fff;
    z-index: -2;
    & .social  {
           color: red;
    } 
    & .logo {
        color: red;
    }
    & .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: url(https://i.ibb.co/HrfVRcx/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
    }

    & .menu li {
            display: inline-block;
            & a {
                text-decoration: none;
                padding: 30px;
                margin: 20px;
            }
        }
    }






a {
    color: aliceblue;
}

@import url('shop.css');