//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// Core variables and mixins
$artemisBlue: #84b7d9;
$artemisDarkBlue: #157bbf;
$artemisGrey: #e9eef2;
$artemisDarkGrey: #a1a7ab;
$artemisIntenseBlue: #0f15d4;

@import "mixins.scss";
// Global Styles


body, html {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	a {
		text-decoration: none;
		color: $artemisDarkBlue;
		&:hover {
			color: $artemisGrey;
		}
	}
	.masthead {
    position: relative;
    background-color: $artemisBlue;
    @include background-cover;
	}
}

header {
	a {
		width: 3em;
		font-size: 3em;
		&.menulink {
			font-size: 1.2em;
			color: $artemisDarkGrey;
			margin: 3em;
		}
	}

	#open-btn, 
	#close-btn {
		float: right;
	}
	.logo, {
		padding-left: 1em;	
	}
	.close-menu {
		padding-right: 1em;
	}

}
nav {
	&#overlay {
		background-color: white;
	}
}
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav li {
	display: inline;
}

section {
	padding-top: 4em;

	h1 {
		margin: 2em auto;
		width: 70%;
		font-size: 4em;
		&::before {
			content: '';
			border-top: 0.2em solid $artemisDarkBlue;
			display: block;
	}	
}
}
