@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html,
body {
  height: 100%;
  font-family: Raleway, sans-serif !important; }

.bg-dark {
  background-color: #157bbf !important; }

.btn {
  margin: 0.5em;
  border-radius: .5rem;
  border: 10px solid transparent; }
  .btn.btn-secondary {
    background-color: #a1a7ab !important;
    border-color: #a1a7ab !important; }
  .btn.btn-primary {
    background-color: #de34eb !important;
    border-color: #de34eb !important; }

.carousel-inner .img-fluid {
  margin: auto !important;
  width: 100% !important; }

.jumbotron {
  margin-bottom: 0;
  background-color: #e9eef2 !important; }

.container-fluid .bg-pink {
  height: 16em;
  background-color: #de34eb;
  border-radius: .25rem; }

.container-fluid .bg-yellow {
  height: 16em;
  background-color: #dfeb34;
  border-radius: .25rem; }

.container-fluid .bg-grey {
  height: 16em;
  background-color: #a1a7ab;
  border-radius: .25rem; }

.container-fluid .bg-blue {
  height: 16em;
  background-color: #84b7d9;
  border-radius: .25rem; }

.container-fluid .bg-darkBlue {
  height: 16em;
  background-color: #157bbf;
  border-radius: .25rem; }

.container-fluid .height1 {
  height: 32em; }

.container-fluid .width1 {
  position: absolute !important;
  margin-top: 16em;
  margin-left: 25%; }

.container-fluid .width2 {
  position: absolute !important;
  margin-top: 16em;
  margin-left: 50%; }

.skills {
  height: 16em;
  background-color: #e9eef2; }

.footer-wrap {
  height: 16em;
  background-color: #84b7d9; }

@media (min-width: 480px) and (max-width: 767px) {
  .height1 {
    height: auto !important;
    padding: 0; } }
