@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html,
body {
  height: 100%;
  font-family: Raleway, sans-serif !important; }

p .whiteText, span .whiteText {
  color: white; }

p.whiteText {
  color: red;
  font-size: 1.3em;
  margin: 1em;
  font-weight: bold !important; }

h6.whiteText {
  color: white;
  font-size: 0.9em;
  text-decoration: underline;
  margin-left: 1.5em;
  margin-bottom: 2em; }

i.whiteText {
  color: white;
  font-size: 5em;
  margin-top: 0.4em;
  margin-bottom: 0.2em; }

.bg-dark {
  background-color: #157bbf !important; }

.btn {
  margin: 1em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  border-radius: .5rem;
  border: 10px solid transparent; }
  .btn.btn-secondary {
    background-color: #a1a7ab !important;
    border-color: #a1a7ab !important; }
  .btn.btn-primary {
    background-color: #de34eb !important;
    border-color: #de34eb !important; }

.carousel-inner .img-fluid {
  margin: auto !important;
  width: 100% !important; }

.jumbotron {
  margin-bottom: 0;
  background-color: #e9eef2 !important; }

.container-fluid .bg-pink {
  height: 16em;
  background-color: #de34eb;
  border-radius: .25rem; }

.container-fluid .bg-yellow {
  height: 16em;
  background-color: #dfeb34;
  border-radius: .25rem; }

.container-fluid .bg-grey {
  height: 16em;
  background-color: #a1a7ab;
  border-radius: .25rem; }

.container-fluid .bg-blue {
  height: 16em;
  background-color: #84b7d9;
  border-radius: .25rem; }

.container-fluid .bg-darkBlue {
  height: 16em;
  background-color: #157bbf;
  border-radius: .25rem; }

.container-fluid .height1 {
  height: 32em; }

.container-fluid .width1 {
  position: absolute !important;
  margin-top: 16em;
  margin-left: 25%; }

.container-fluid .width2 {
  position: absolute !important;
  margin-top: 16em;
  margin-left: 50%; }

.skills {
  background-color: white; }

.footer-wrap {
  min-height: 16em;
  background-color: #84b7d9; }

.jumbotron {
  padding: oem; }

.skillsHeading {
  text-align: center;
  font-family: Raleway, sans-serif;
  color: #157bbf;
  padding-top: 2em;
  padding-bottom: 1em; }

.list-group-item {
  background-color: #157bbf;
  color: white;
  font-size: 1.5em; }

.list-group {
  padding-bottom: 6.5em; }

.list-group-item {
  margin-bottom: 0.8em;
  margin-left: 1.3em;
  margin-right: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em; }

li.list-group-item {
  padding-left: 1.5em; }

.footerAbout {
  margin-left: 2em;
  margin-top: 2em; }

.navbarArtemis .navbar-nav {
  margin: 0 auto; }
  .navbarArtemis .navbar-nav li {
    margin: 1em 2em; }
  .navbarArtemis .navbar-nav a {
    font-size: 1.2em; }

.btn {
  border: 3px solid transparent;
  border-radius: 0.25em; }
  .btn.btnSkills {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.6em;
    margin: 0.2em;
    font-weight: 100;
    line-height: 0.2; }

@media (min-width: 480px) and (max-width: 767px) {
  .height1 {
    height: auto !important;
    padding: 0;
    min-height: 513px; }
  p.whiteText {
    color: white;
    font-size: 0.8em;
    margin: 1em;
    font-weight: normal !important; }
  .width1 {
    height: auto !important;
    min-height: 312px; }
  .width2 {
    height: auto !important;
    min-height: 313px; }
  .list-group-item {
    font-size: 0.9em; } }
