@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
body, html {
  font-family: 'Raleway', sans-serif;
  margin: 0; }
  body a, html a {
    text-decoration: none; }

header {
  padding: 20px 20px; }
  header a {
    font-size: 42px;
    width: 24px; }
  header #open-menu {
    float: right; }
