@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0; }
  body a, html a {
    text-decoration: none;
    color: #157bbf; }
    body a:hover, html a:hover {
      color: #e9eef2; }
  body .masthead, html .masthead {
    position: relative;
    background-color: #84b7d9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

header a {
  width: 3em;
  font-size: 3em; }
  header a.menulink {
    font-size: 1.2em;
    color: #a1a7ab;
    margin: 3em; }

header #open-btn,
header #close-btn {
  float: right; }

header .logo {
  padding-left: 1em; }

header .close-menu {
  padding-right: 1em; }

nav#overlay {
  background-color: white; }

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center; }

nav li {
  display: inline; }

section {
  padding-top: 4em; }
  section h1 {
    margin: 2em auto;
    width: 70%;
    font-size: 4em; }
    section h1::before {
      content: '';
      border-top: 0.2em solid #157bbf;
      display: block; }
